.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.company-image {
  width: 250px;
  max-width: 400px;
}

.company-thumbnail {
  width: 200px;
  max-width: 100px;
  padding-right:2em;
}

.name-padding {
  padding-left:2em;
}

.kitty-size {
  width: 250px;
  max-width: 400px;
}

.login-box {
    margin: auto;
    max-width: 50%;
    padding-top: 20%;
}

.left-pad {
    padding-left: 10em
}